<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <title>Resrouce Wall</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="top-nav">
    <h1 class="nav-logo"><a href="/resources">Resource Wall</a></h1>
    <input type="search" placeholder="Search">
    <nav class="nav-buttons">
      <ul>
        <% if (!user) { %>
        <button>
          <li><a href="/register">Register</a></li>
        </button>
        <button>
          <li><a href="/login">Login</a></li>
        </button>
        <% } else { %>

        <button>
          <li>My Resources</li>
        </button>
        <button>
          <li>Profile</li>
        </button>

        <form method="POST" action="/logout">
          <button type="submit" id="logout-button">
            <li>Logout</li>
          </button>
        </form>
        <% } %>

      </ul>
    </nav>
  </div>
</body>

</html>
