<!-- main page to show the publicly available resources -->
<%- include('partials/_header') %>

<body>
  <main class="main-container">
    <section id="content-container">

    </section>
  </main>
</body>
