<!-- main page to show the publicly available resources -->

<body>
  <%- include('partials/_header') %>
  <main class="main-container">

    <% if (user) { %>
      <form action="/resources" method="POST" id="post-new-resource">
        <label for="new_content">Share Your Inspirations</label>
        <textarea name="text" id="new-content"></textarea>
      </form>
      <% } %>

    <div id="category-icons">
      <div class="category">articles</div>
      <div class="category">videos</div>
      <div class="category">tutorials</div>
    </div>

    <section id="content-container">
      <% for(const resource of resourceList) { %>
      <article class="content">
        <header>
          <h2><%= resource.title %></h2>
          <embed src=<%= resource.url %> type="text/html">
          <p><%= resource.description %></p>
        </header>
      </article>
      <% } %>
    </section>

  </main>

</body>
