<!-- main page to show the publicly available resources -->
<%- include('partials/_header') %>

<body>
  <% if (user) { %>
  <form action="/resources" method="POST" id="new_resource_form">
    <label for="new_resource">Submit a resource!</label>
    <textarea form="new_resource_form" name="url" type="url" id="new_resource_url" placeholder="http://www.example.com" required></textarea>
    <textarea form="new_resource_form" name="title" id="new_resource_title" placeholder="The title of your post" required></textarea>
    <textarea form="new_resource_form" name="description" id="new_resource_description" placeholder="Describe what your resource is" required></textarea>
    <label for="resource_category">Select your resource category: </label>
    <select form="new_resource_form" name='category' id='resource_category' required>
      <option value="1">Article</option>
      <option value="2">Video</option>
      <option value="3">Tutorial</option>
    </select><br>
    <button type="submit">Submit</button>
  </form>
  <% } %>

  <main class="main-container">
    <section id="content-container">
      <% for(const resource of resourceList) { %>
      <article class="content">
        <header>
          <h2><%= resource.title %></h2>
          <embed src=<%= resource.url %> type="text/html">
          <p><%= resource.description %></p>
        </header>
      </article>
      <% } %>
    </section>
  </main>
</body>
