<%- include('partials/_header') %>

<body>
  <h2>Create Account</h2>
  <form action="/register" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="email">Email address</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
  </form>
</body>

</html>
