<%- include('partials/_header') %>

<body>
  <h2>Create Account</h2>
  <form action="/register" method="POST">
    <label for="email">Email address</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit">Register</button>
  </form>
</body>

</html>
