<%- include('partials/_header') %>

<body>

  <form action="/users/:id" method="POST" id="update-profile">
    <label for="name">Change your name here</label>
    <input type="text" name="name">


    <label for="email">Change your email here </label>
    <input type="email" name="email">

    <label for="password">Change your password here </label>
    <input type="password" name="password">

    <button type="submit">UPDATE</button>

  </form>




</body>
