<%- include('partials/_header') %>

<body>

  <form action="/users/:id" method="POST" id="update-name">
    <label for="text">Change your name here</label>
    <input type="" name="name">


    <label for="">Change your email here </label>
    <input type="text" name="email">

    <label for="">Change your password here </label>
    <input type="text" name="password">

    <button type="submit">UPDATE</button>

  </form>




</body>
