<body>
  <%- include('partials/_header') %>
<main id="update-profile">
  <h2>Update Your Information</h2>
  <form action="/users/:id" method="POST">
    <div>
      <label for="name">change name</label>
      <input type="text" name="name">
    </div>

    <div>
      <label for="email">change email </label>
      <input type="email" name="email">
    </div>

    <div>
      <label for="password">change password</label>
      <input type="password" name="password">
    </div>

    <div>
      <button type="submit">UPDATE</button>
    </div>

  </form>


</main>

</body>
