#main-wall {

   margin-top: 2em;

   #category-icons {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    font-weight: bolder;
    color: #215361;
    margin: 4em 2em 0 2em;

    #filter-by {

      margin: auto 1em auto 1em;
      padding: 0.5em;
    }

    .category {

      margin: auto 1em auto 1em;
      padding: 0.5em;

      border-radius: 10px;
    }

    .category:hover {
      background-color: #99996680;
    }

  }

  #content-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

      #content-container {

        padding: 0;
        width: 85%;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        margin: 0 0 0 0;
        justify-content: center;

        .content {
          border-radius: 7px;
          height: 100%;
          width: 100%;
          background-image: url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);


          .title-description{
            text-align: center;
            margin: auto 1em 1em 1em;

            p {
              font-family: Courier, monospace;
            }



          }

           img {
            margin-top: 2em;
            width: 100%;
          }

          a {
            text-decoration: none;
            color:  #244751;
          }

          p {

            margin: 0;
          }




          &:hover {

            box-shadow: 0 0 3px 3px #b2b2b270;
            background:   #999966;

        }
      }
  }
}
}

@media only screen and (max-width: 1024px) {

  #content-container {


      padding: 0;
      width: 85%;
      display: grid;
      grid-gap: 6px;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      margin: 0 0 0 0;
      justify-content: center;

      .content {

        border-radius: 7px;
        height: 100%;
        width: 100%;
        background-image: url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);


        .title-description{
          font-size: smaller;


        }


         img {

          max-width: 100%;
          height: auto;
        }

        a {
          text-decoration: none;
          color:  #244751;

        }

        p {

          display: none;
        }




        &:hover {

          box-shadow: 0 0 3px 3px #b2b2b270;
          background:   #999966;


      }
    }

  }





}
