/*
.main-container {
  #content-container {
    margin: 0 2rem;
      article.content {
        border: 2px solid #545149;
        margin: 35px 0;
        padding: 0 15px;
        transition: box-shadow 0.5s;
      &:hover {
        box-shadow: 0 0 3px 3px #8082ee;
      }
    }
  }
}
main-container #content-container {
  margin: 0 2rem;
}

.main-container #content-container article.content {
  border: 2px solid #545149;
  margin: 35px 0;
  padding: 0 15px;
  transition: box-shadow 0.5s;
}
*/
#main-wall {
  //background:#b2b2b250;
   //#bdcebe40;
   div {
   display: flex;
   flex-direction: column;
   //justify-content: center;
   align-items: center;
   //background: #bbab9b65;
  margin-top: 6em;
  //padding-top: 2em;
  #content-container {

    //margin: auto 3em auto 3em;
    width: 95%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr 1fr;

    article.content {
      background:  #bbab9b99;        // #c5d5c5; //#bdcebe;
      border-radius: 15px;
      &:hover {
        border: 2px solid #b2b2b250;
        box-shadow: 0 0 3px 3px #b2b2b270;
        background-color:  #99996680;//#c5d5c5;// #bdcebe;

    }
  }
  }
}
}
