#wrapper {
  * {
    outline:none;
    border:none;
    margin:0px;
    padding:0px;
    font-family:Courier, monospace;
  }

  #paper {
    color:#FFF;
    font-size:15px;
  }

  #text {
    width:500px;
    overflow:hidden;
    background-color:#FFF;
    color:#222;
    font-family:Courier, monospace;
    font-weight:normal;
    font-size:25px;
    resize:none;
    line-height:40px;
    padding-left:100px;
    padding-right:100px;
    padding-top:45px;
    padding-bottom:34px;
    background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
    background-repeat:repeat-y, repeat;
    -webkit-border-radius:12px;
    border-radius:12px;
    -webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;
    border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
  }



  #wrapper {
    width:700px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
    margin-bottom:100px;
  }
}
























html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {

  background-image: url("./images/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #new_resource_form{

    display: flex;
    flex-direction: column;
    align-items: center;

  #fill-in-form {
    width:700px;
    display: grid;
    //grid-template-columns:
    background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
    background-repeat:repeat-y, repeat;
    overflow:hidden;
    padding-left:100px;
    padding-right:30px;
    padding-top:45px;
    padding-bottom:34px;
    -webkit-border-radius:5px;
    border-radius:12px;
    -webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;
    border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
    margin: 2em 21em auto 21em;
    font-size: 1em;
    color:#215361;
    margin-bottom: 2em;


    textarea{
      padding-right: 0;
      margin-right: 0;
      border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family:Courier, monospace;
    font-weight:normal;
    font-size:1.2em;

    resize:none;

    }



    //display: flex;
    //flex-direction: column;
    //align-items: stretch;

    // padding: 1em;
    // display: grid;
    // grid-template-columns: 25% 75%;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    // justify-content: center;
    // align-items: center;


    // background: #99996699;
    // background: #bdcebe90;
    //background-color: rgba(120,160,200,0.8);
    //background-color:bisque;

    label {
      //margin-top: 2em;
      margin-right: auto;

    }




  }
  button {
    margin: 1em 0 1em 0;
    padding: 0.5em auto 0.5em auto;



    &:hover {
      box-shadow: 0 0 3px 3px #b2b2b270;
      background:   #99996690;

    }
  }
  }

  #content-container {



    img {
      width: 250;
      height: 250;
    }

  }

  main {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    //justify-content: center;

    #slogan {
      //text-align: right;
      margin: 1em 6em 3em auto;
      padding:  0 2em 0 2em;


      h1{
        font-family: sans-serif;
        text-align: right;
      }


    }
  }
  h1 {
    color: #215361;


  }

}



