#my-resources-page {

  height: 100%;
  margin-top: 0;
  display: flex;


  #my-resources-page-content {
    margin: 0 10em 0 10em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    background-image: repeating-linear-gradient(#e9e9e9 0px, #e9e9e9 24px, teal 25px);

    #my-resources-container {
      display: flex;
      height: 100%;

      section{

        display: flex;
        flex-direction: column;
        align-items:center;

        #my-liked-resources-container, #all-my-resources-container {
          display: grid;
          row-gap: 15px;
          margin: 0 1.5em auto 1.5em;

        }


       .my-single-resource,  .single-liked-resource{

        padding: 2em;
          border: 2px solid #215361;
          border-radius: 20px;
          text-decoration: none;
          color: black;

          &:hover {
            background: #999966;
            border: none;

          }
       }
      }




    }
  }

}
