.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: #99996660;
  //background-color: #bdcebe40;
  padding: 0 2rem;
  color:  #244751;


  input[type=search] {
    width: 200px;
    padding: 6px;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    background: #b2b2b280;

    transition: width 0.4s ease-in-out;
    &:focus {
      width: 30%;
    }
  }
  .nav-logo {
    margin-left: 1em;
    width: 20%;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 3px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    h4 {
      margin: 0 0 1em auto;
    }
  }
  .nav-buttons {
    width: 30%;;
    display: flex;
    justify-content: space-around;
    padding: 0;

      button{
        font-size: 1.3em;
        padding: 0.5rem;;
        background: transparent;
        border: 0;
        color:  #244751;

        &:hover {
          color: white;
          background-color: #99996680; // #b2b2b270;
          border-radius: 10px;
        }
        a {
          color:  #244751;
         text-decoration: none;
        }
      }
    }
  }

  #login-register-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button:hover {

      background-color: 99996680;
      border-radius: 10px;

      a{
        color: white;
      }
    }
  }

  @media only screen and (max-width: 1024px) {

    .nav-logo {
       h4 {
        display: none;
      }
    }


  }
